#judul {
  text-align: center;
}

body {
  background-color: whitesmoke;
  padding: 20px;
}

.tambah {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}

.btn-tambah {
  background: linear-gradient(to right, red, orange);
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  background: linear-gradient(to right, red, yellow, orange);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.judul1 {
  margin-top: 0px;
}

span {
  color: blue;
}

.edit {
  background-color: rgb(246, 212, 65);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.hapus {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 18px;
}