#judul {
  text-align: center;
}

body {
  background-color: whitesmoke;
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tambah {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn-tambah {
  background: linear-gradient(to right, red, orange);
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: "";
  background: linear-gradient(to right, red, yellow, orange);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.judul1 {
  margin-top: 0px;
}

span {
  color: blue;
}

.edit {
  background-color: rgb(246, 212, 65);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hapus {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 18px;
  cursor: pointer;
}